---
name: build

on: [push, pull_request]

jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.9]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: elf-dev
          auto-update-conda: true
          channels: conda-forge
          environment-file: .github/workflows/environment.yaml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true

      - name: Install package
        shell: bash -l {0}
        run: pip install -e .

      # pyn5 can only be installed on linux
      - name: Install pyn5
        if: matrix.os == 'ubuntu-latest'
        shell: bash -l {0}
        run: pip install pyn5
      
      - name: Run tests
        shell: bash -l {0}
        run: python -m unittest discover -s test -v
